For test outline all elements
* {
  /* outline: 1px solid darkgrey; */
}

.quarter {
  padding: 0 !important;
}

.half {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.half, .quarter {
  overflow: hidden;
  border: 1px solid rgb(72, 72, 72);
  background-color: #484848;
}

.overlay-img{
  opacity: 0.65;
}

.non-overlay-img {
  opacity: 1;
}

.img-fluid:hover {
  z-index: 2;
  -webkit-transition: all 400ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 400ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 400ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 400ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}