/* For test outline all elements */
* {
  /* outline: 1px solid darkgrey; */
}

.quarter {
  padding: 0 !important;
}

.half {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.half, .quarter {
  overflow: hidden;
  border: 1px solid #484848;  /* rgb(72, 72, 72) charcoal */
  background-color: #484848;  /* charcoal */
}

.overlay-img{
  opacity: 0.65;
}

.non-overlay-img {
  opacity: 1;
}

.img-fluid:hover {
  z-index: 2;
  -webkit-transition: all 400ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 400ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 400ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 400ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.carousel {
  position: fixed;  /* Sit on top of the page content */
  /* display: none; */ /* Hidden by default */
  width: 100%;  /* Full width (cover the whole page) */
  height: 100%;   /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(72, 72, 72, 1.0);  charcoal background with opacity */
  z-index: 2;   /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer;  */ /* Add a pointer on hover */
}

.hide-carousel {
  display: none
}
.show-carousel {
  display: block;
  display: flex;
  align-items: center;
}

.close {
  color: white;
  font-size: 4em;
  padding: .5em;
}

.close:hover {
  cursor: pointer;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 4em;
}

.fa-angle-left {
  position: relative !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  /* float:left; */
}
  
.fa-angle-right {
  position: relative !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  /* float: right; */
}